form a{
    margin-left: 5px;
}

.fade-appear {
    opacity: 0;
    transform: translateX(-250px);
}

.fade-appear.fade-appear-active {
    opacity: 1;
    transform: translateX(0);
    transition: .5s;
}

body .modal{
    position: fixed;
    top: 40px;
    left: 40px;
    right: 40px;
    bottom: 40px;
    border: 1px solid #ccc;
    background: #ffffff;
    overflow: auto;
    border-radius: 5px;
    outline: none;
    padding: 20px;
    display: block;
}